
input[type=button]{

width: 100%;
background-color: #0048BA;
color: white;
border-radius: 12px;
padding: 1%;
}
h1{
text-align: center;
text-decoration: inherit;
font-kerning: normal;
font-weight: bold;
font-family:  fantasy;
}

input[type=button]:hover {

color: white;
background-color: orange;
font-size:20px;
font-weight: bold;
}

 #reg{
background-color: red;
}

#reg:hover{

  color: blue;
  background-color: white;
  font-size:20px;
font-weight: bold;
}
